<section class="noti_write">
    <h2>공지사항 수정하기</h2>
    <% if(typeof errs !== "undefined") { %> <% errs.forEach((err)=>{%>
        <h4 style="color: red"><%=err.param%> : <%=err.msg%></h4>
        <% }) %> <% } %>
    <form method="POST" action="/updateMemo">
        <table>
            <input type="hidden" id="title" name="id" value="<%=row.id%>">
            <tr>
                <td><label>제목 :</label></td>
                <td><input type="text" id="title" name="title" value="<%=row.title%>"></td>
            </tr>
            <tr>
                <td><label>이름 :</label></td>
                <td><input type="text" id="name" name="name" value="<%=row.name%>"/></td>
            </tr>
            <tr>
                <td><label>비밀번호 :</label></td>
                <td><input type="text" id="pw" name="pw" value="<%=row.pw%>"/></td>
            </tr>
            <tr>
                <td>내용작성 :</td>
                <td>
                    <textarea cols="100" rows="10" id="content" name="content"><%=row.content%></textarea>
                </td>
            </tr>
            <tr>
                <td>첨부파일 :</td>
                <td>
                    <input type="button" id="noti_file" value="첨부" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit"  value="수정하기" />
                    <a onclick="javascript:location.href ='/notice_view?id=<%=row.id%>'"><input type="button"  value="뒤로가기" /></a>
                </td>
            </tr>
        </table>
    </form>
</section>
